* {
    font-family: "Inter", system-ui;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #e7f6ff;
    // background-color: #f5e7ff;
}
a {
    text-decoration: none;
    color: #000;
    display: flex;
}

.wrapper {
    background: #ffffff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    border-radius: 20px;
    max-width: 1080px;
    margin: 50px auto;
}

.content {
    padding: 20px 40px 40px;

    .slider {
        width: 100%;
        margin-bottom: 20px;
        position: relative;
        
        .swiper-button-next, .swiper-button-prev {
            --swiper-navigation-size: large;
            width: 40px;
            height: 40px;
            color: #111;
            background-color: #fff;
            border-radius: 20px;
            font-weight: 600;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        .slide_wrapper {
            height: 300px;

            .slide {
                width: 100%;
                height: 100%;
                border-radius: 20px;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position-x: center;
                background-position-y: center;
                background-repeat: no-repeat;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                cursor: grabbing;

                h1 {
                    color: #fff;
                    width: 25%;
                    margin-left: 60px;
                    text-shadow: -0.25px 0 #111, 0 0.25px #111, 0.25px 0 #111, 0 -0.25px #111;
                }
            }
        }

        
    }

    .content__header {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 0 20px 0;
        justify-content: space-between;

        .seaerch_block {
            border: 1px solid #f3f3f3;
            display: flex;
            border-radius: 10px;
            padding: 13px;

            input {
                border: none;
                padding: 10px;
                font-size: 16px;
                outline: none;
                width: 200px;
            }
        }
    }

    .cards {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, 220px);
        row-gap: 30px;
        column-gap: 40px;
        grid-auto-rows: minmax(300px, auto);
        justify-content: center;
        align-content: stretch;
    }

    .noData {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & > img:first-child {
            margin-bottom: 24px;
        }

        h1 {
            margin: 0;
            margin-bottom: 11px;
        }
        p {
            margin: 0;
        }

        .btn_green {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            width: 245px;
            height: 55px !important;
            position: relative;
            margin-top: 40px;
            background: #9dd558;
            border: none;
            border-radius: 18px;
            color: #fff;
            font-size: 16px;
            font-weight: 500;
            cursor: pointer;
            transition: background 0.2s ease-in-out;

            &:hover {
                background: lighten(#9dd558, 5%);
            }

            &:active {
                background: darken(#9dd558, 5%);
            }

            img {
                margin-right: 20px;
                rotate: 180deg;
                transition: transform 0.15s ease-in-out;
            }

            &:hover {
                img {
                    transform: translateX(5px);
                }
            }
        }

        &.pnf {
            h1 {
                margin: 0;
            }

            .pnf__img {
                border-radius: 10px;
                width: 30vw;
            }
        }
    }
}

.order {
    .order__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;

        p {
            opacity: 0.2;
            transition: opacity 0.3s ease-out;
            cursor: default;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.remove__btn {
    opacity: 0.4;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:hover {
        opacity: 1;
    }
}

@media (max-width: 768px) {
    .slide {
        h1 {
            font-size: 4.5vw;
        }
    }
}



@media (max-width: 480px) {
    .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        margin: 0;
        border-radius: 0;

        .content {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;

            .content__header {
                flex-direction: column;

                .seaerch_block {
                    width: 100%;
                }
            }
        }
    }
    .slide {
        align-items: flex-start !important;

        h1 {
            margin: 20px 0 0 20px !important;
            width: 100% !important;
        }
    }
}